<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base-layout}">

<head>
	<meta charset="UTF-8">
	<title>Add Item</title>
	<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<divmain layout:fragment="content">
		<div class="container-fluid">
			<div class="card">
				<div class="card-body">
					<h1 class="mb-4">Add Item</h1>

					<form th:action="@{/item-setup}" th:object="${itemDTO}" method="post"
						class="needs-validation">

						<input type="hidden" th:field="*{id}">

						<div class="mb-3">
							<label for="name" class="form-label">Item Name</label>
							<input type="text" th:field="*{name}" class="form-control" id="name"
								placeholder="Enter product name" required>
						</div>

						<div class="mb-3">
							<label for="sell-price" class="form-label">Sell Price</label>
							<input type="text" th:field="*{sellPrice}" class="form-control" id="name"
															placeholder="Enter product Sell Price" required>
						</div>

						<div class="mb-3">
							<label for="status" class="form-label">Original Price</label>
							<input type="text" th:field="*{originalPrice}" class="form-control" id="name"
															placeholder="Enter product Original Price" required>
						</div>
						
						<div class="mb-3">
							<label for="status" class="form-label">Quantity</label>
							<input type="text" th:field="*{originalPrice}" class="form-control" id="name"
									placeholder="Enter product Quantity" required>
						</div>
						
						<div class="mb-3">
							<label for="status" class="form-label">Status</label>
							<select th:field="*{status}" class="form-control" id="status" required>
								<option value="" disabled selected>Select status</option>
								<option value="1">Active</option>
								<option value="0">Inactive</option>
							</select>
						</div>
						
						<!-- ✅ Product dropdown -->
	                   <div class="mb-3">
	                       <label for="productId" class="form-label">Product</label>
	                       <select th:field="*{productId}" class="form-control" id="productId" required>
	                           <option value="" disabled>Select a product</option>
	                           <option th:each="product : ${products}"
	                                   th:value="${product.id}"
	                                   th:text="${product.name}">
	                           </option>
	                       </select>
	                   </div>
						<button type="submit" class="btn btn-primary">Save Product</button>
					</form>
				</div>
			</div>
		</div>
		</div>
		</main>
</body>

</html>