<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <!-- Custom CSS -->
 <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<div layout:fragment="content">

		<h1>Demo Project</h1>
		<a th:href="@{/product-setup}">Product Setup</a> <br> <a
			th:href="@{/product-list}">Product List</a>

	</div>
</body>
</html>