<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base-layout}">

<head>
	<meta charset="UTF-8">
	<title>Add Role Info</title>
	<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<main layout:fragment="content">
		<div class="container-fluid">
			<div class="card">
				<div class="card-body">
					<h1 class="mb-4">Add Role</h1>

					<form th:action="@{/role_setup}" th:object="${roleDTO}" method="post"
						class="needs-validation">

						<input type="hidden" th:field="*{id}">

						<div class="mb-3">
							<label for="name" class="form-label">Role</label>
							<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Enter Name">
							<span th:if="${#fields.hasErrors('name')}" th:errorClass="text-danger"
															th:errors="*{name}"></span>
						</div>

						<div class="mb-3">
							<label for="code" class="form-label">Code</label>
							<input type="text" th:field="*{code}" class="form-control" id="name" placeholder="Enter Code.">
							<span th:if="${#fields.hasErrors('code')}" th:errorClass="text-danger"
															th:errors="*{code}"></span>
						</div>

						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>
			</div>
		</div>
		</main>
</body>

</html>